<style>
  .container-actor {
    height: 80%;
    overflow-y: scroll;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    top: 0;
  }
  .actor-description {
    font-size: 1.2rem;
    color: #000000;
    padding-top: 3rem;
  }
  .actor-image {
    max-width: 100%;
    top: 1rem; /* set a top value to the image */
  }
  .actor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  text-align: center;
}

.actor-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #343a40;
  top: 0;
  padding: 1rem;
  display: inline-block;
  max-width: 100%;
  white-space: normal;
}

</style>

{% extends "base.html" %}

{% block title %}{{ actor.name }}{% endblock %}

{% block content %}
  <div class="container-actor">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div class="actor-info">
          <img src="{{ url_for('static', filename='images/' + actor.image) }}" alt="{{ actor.name }}" class="img-fluid actor-image">
          <h2 class="actor-name">{{ actor.name }}</h2>
        </div>
      </div>
      <div class="col-md-8">
        <p class="actor-description">{{ actor.description }}</p>
      </div>
    </div>
  </div>
{% endblock %}
