<style>
    .container {
        height: 95%; /* set a fixed height to the container */
        overflow-y: auto; /* enable vertical scrolling */
    }
    ::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D4D4;
    }
    .card{
        background-color: rgb(224, 224, 231);
    }
    .form-inline{
        margin-top: 20px;
    }
    .search-form {
        margin-bottom: 20px;
    }

    .search-input {
        width: 200px;
        margin-right: 10px;
    }

    .checkbox-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .checkbox-label {
        margin-left: 5px;
        font-size: 15px;
    }

    .apply-button {
        margin-left: 10px;
        font-size: 18px;
    }
    .apply-button {
    margin-left: 10px;
    font-size: 18px;
    background-color: blue;
    color: white;
    }

    .apply-button:not(:focus) {
        background-color: rgb(35, 105, 255);
        border-color: rgb(35, 105, 255);
        color: white;
    }
</style>

{% extends "base.html" %}{% block title %}Index{% endblock %}

{% block content %}
    
<div class="row">
    <div class="col-md-12 mb-4">
        <form class="form-inline" action="{{ url_for('auth.filter_actors') }}" method="GET">
            <input class="form-control mr-sm-2" type="search" placeholder="Search actor" aria-label="Search" name="query">
            <div class="form-check mr-3">Sort by:</div>
            <div class="form-check mr-3">
                <label class="form-check-label" for="sortAscCheckbox">Ascending</label>

                <input class="form-check-input" type="checkbox" id="sortAscCheckbox" name="sort_asc"
                    {% if sort_asc %}checked{% endif %} onclick="uncheckOtherCheckboxes(this)">
            </div>
            <div class="form-check mr-3">
                <label class="form-check-label" for="sortDescCheckbox">Descending</label>
                <input class="form-check-input" type="checkbox" id="sortDescCheckbox" name="sort_desc"
                    {% if sort_desc %}checked{% endif %} onclick="uncheckOtherCheckboxes(this)">
            </div>
            <div class="form-check">
                <label class="form-check-label" for="sortBySubmissionsCheckbox">Submissions</label>
                <input class="form-check-input" type="checkbox" id="sortBySubmissionsCheckbox" name="sort_submissions"
                    {% if sort_submissions %}checked{% endif %} onclick="uncheckOtherCheckboxes(this)">
            </div>
            <button class="btn btn-outline-primary ml-3 apply-button" type="submit">Apply changes</button>
        </form>
    </div>
</div>


    <div class="row">
        {% for actor in actors %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if actor.image %}
                    <img src="{{ url_for('static', filename='images/' + actor.image) }}" class="card-img-top" alt="{{ actor.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ actor.name }}</h5>
                        <p class="card-text">{{ actor.description[0:140] }}...</p>
                        <a href="{{ url_for('auth.actor', actor_id=actor.id) }}" class="btn btn-primary">View actor</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<script>
    function uncheckOtherCheckboxes(checkbox) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (cb) {
            if (cb !== checkbox) {
                cb.checked = false;
            }
        });
    }
</script>
{% endblock %}