<style>
    .container {
        height: 100%; /* set a fixed height to the container */
        overflow-y: scroll; /* enable vertical scrolling */
    }
    ::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D4D4;
    }
    .card{
        background-color: rgb(224, 224, 231);
    }
</style>

{% extends "base.html" %}{% block title %}Index{% endblock %} 

{% block content %}
    <!-- <head>
        
    </head> -->
    <div class="row">
        {% for actor in actors %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if actor.image %}
                    <img src="{{ url_for('static', filename='images/' + actor.image) }}" class="card-img-top" alt="{{ actor.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ actor.name }}</h5>
                        <p class="card-text">{{ actor.description[0:140] }}...</p>
                        <a href="{{ url_for('auth.actor', actor_id=actor.id) }}" class="btn btn-primary">View actor</a>
                        <form method="POST" action="{{ url_for('auth.delete_actor', actor_id=actor.id) }}" style="display: inline-block;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}