<style>
    .container {
        height: 95%; /* set a fixed height to the container */
        overflow-y: auto; /* enable vertical scrolling */
    }
    ::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
    }

    ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D4D4D4;
    }
    .card{
        background-color: rgb(224, 224, 231);
    }
</style>

{% extends "base.html" %}{% block title %}History{% endblock %}

{% block content %}
    
    <div class="row">
        {% for actor in actors %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if actor[0].image %}
                    <img src="{{ url_for('static', filename='images/' + actor[0].image) }}" class="card-img-top" alt="{{ actor[0].name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ actor[0].name }}</h5>
                        <p class="card-text">Date Searched: {{ actor[1][0].datetime.strftime('%d-%m-%y %H:%M') }}</p>
                        <a href="{{ url_for('auth.actor', actor_id=actor[0].id) }}" class="btn btn-primary">View actor</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<script>
    function uncheckOtherCheckboxes(checkbox) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (cb) {
            if (cb !== checkbox) {
                cb.checked = false;
            }
        });
    }
</script>
{% endblock %}

