<style>
    .content {
        display: flex;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%; 
        overflow-y: scroll;

    }

    h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 0;
    }

    h4 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn-primary {
        font-size: 30px;
        margin: 0 20;
        display: block;
        text-align: center;
    }

    .signup-login-links {
        text-align: center;
        margin-top: 20px;
    }


</style>

{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block styles %}

{% endblock %}
{% block content %}
<div class="content">
    <h1>Welcome to our Face Recognition App</h1>
    <br>
    <br>
    <h4>For using our app upload a photo with your favorite actor and find out who is in the picture.</h4>
    {% if user.is_authenticated %}
    <h4>Hello {{ user.first_name }} {{user.last_name}}. Please upload the picture below</h4>
    
    <form action="{{ url_for('auth.upload_image') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">Upload Image</label>
            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>

    {% if image_file %}   
        <img src="{{ url_for('static', filename='images/' + image_file.filename) }}" class="card-img-top" alt="uploaded image">
        {{prediction}}
    {% endif %}
     
    {% else %}
    <br>


    <h5 style="font-style: italic;">Please login or sign up to use our app.</h5>

    <div class="signup-login-links">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/sign-up" class="btn btn-primary">Sign Up</a>
    </div>
    {% endif %}
</div>
{% endblock %}
